{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Checkout Form{% endblock %}

{% block content %}
<!--Main layout-->
<main>
  <div class="container">
    <section class="mt-4 mb-5">
      <div class="container wow fadeIn">
        <h1 class="mb-4">Checkout Form</h1>

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">

              <!--Card-->
              <div class="card">

                <!--Card content-->
                <form method="POST" class="card-body">

                  {% csrf_token %}

                  {% for form in formset %}

                    {% if forloop.first %}
                      <h3 class="pb-2">Enter your shipping address:</h3>

                      {% if shipping_address %}
                          <div class="form-row pb-2">
                            <div class="form-group col-md-4 mb-0">
                              {{ form.use_default|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-8 mb-0">
                              <b>{{ shipping_address.street_address }}</b>
                            </div>
                          </div>
                      {% endif %}

                    {% else %}
                      <h3 class="pb-2">Enter your billing address:</h3>


                      {% if billing_address %}
                        <div class='pb-4'>
                          <div class="form-row">
                            <div class="form-group col-md-4 mb-0">
                              {{ form.use_default|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-8 mb-0">
                              <b>{{ billing_address.street_address }}</b>
                            </div>
                          </div>
                        </div>
                      {% endif %}

                    {% endif %}

                    <div class="hideable-shipping-form">

                      {{ form.street_address|as_crispy_field }}
                      {{ form.apartment_address|as_crispy_field }}
                      <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                          {{ form.city|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                          {{ form.country|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-2 mb-0">
                          {{ form.zip_code|as_crispy_field }}
                        </div>
                      </div>
                      {{ form.is_default|as_crispy_field }}
                  
                    </div>

                    <hr class="mb-4">

                  {% endfor %}

                  <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to payment</button>

                </form>

              </div>
              <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4">

              {% include "order_snippet.html" %}

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

      </div>
    </section>
  </div>
</main>
<!--Main layout-->
{% endblock content %}
