{% extends "_base.html" %}
{% load render_bundle from webpack_loader %}

{% block head_title %}
Most Bought Products
{% endblock %}

{% block content %}
<noscript>Unable to show content. Please turn on Javascript.</noscript>
<main>
  <div class="container">
    <section class="mt-4 mb-5">
      <div class="row wow fadeIn">
        <div class="col-12">
          <div class="table-responsive text-nowrap">
            <h1>Most Bought Products</h1>

            <div id='react-most-bought-products'></div>
            {% render_bundle 'most_bought_products' %}
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}

