{# {% load cart_template_tags %} #}

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="/">
      <strong class="blue-text">Games4Everyone</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.path == "/" %}active{% endif %}">
          <a class="nav-link waves-effect" href="{% url "games:home" %}">Home
          </a>
        </li>

        <li class="nav-item {% if request.path == "/about-us/" %}active{% endif %}">
          <a class="nav-link waves-effect" href="{% url "games:about-us" %}">About Us
          </a>
        </li>

        <li class="nav-item {% if request.path == "/contact-us/" %}active{% endif %}">
          <a class="nav-link waves-effect" href="{% url "games:contact-us" %}">Contact Us
          </a>
        </li>

      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        
        {% if request.user.is_authenticated %}

          <li class="nav-item p-2">
            <span class="badge red z-depth-1 mr-2"> {{ request.user }} </span>
          </li>

          <li class="nav-item">
            <a href="{% url "account_logout" %}" class="nav-link waves-effect">Sign out</a>
          </li>

        {% else %}

          <li class="nav-item">
            <a href="{% url "account_login" %}" class="nav-link waves-effect">Log in</a>
          </li>

          <li class="nav-item">
            <a href="{% url "account_signup" %}" class="nav-link waves-effect">Sign up</a>
          </li>

        {% endif %}

          <li class="nav-item">
            <a href="{% url 'games:order-summary' %}" class="nav-link waves-effect">
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>

      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->