{% load cart_template_tags %}

{% with request.user as user %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light mdb-color lighten-4 scrolling-navbar">
  <div class="container">

    <div class="pr-2">
      <a href="/">
        <img src="{{ MEDIA_URL }}/images/icon.png" alt="Games4Everyone" height="90">
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.path == "/" %}active{% endif %}">
          <a class="nav-link waves-effect" href="{% url "games:home" %}">Home
          </a>
        </li>

        <li class="nav-item {% if request.path == "/about-us/" %}active{% endif %}">
          <a class="nav-link waves-effect" href="{% url "games:about-us" %}">About&nbsp;Us
          </a>
        </li>

        <li class="nav-item {% if request.path == "/contact-us/" %}active{% endif %}">
          <a class="nav-link waves-effect" href="{% url "games:contact-us" %}">Contact&nbsp;Us
          </a>
        </li>
      </ul>

      <ul class="navbar-nav nav-flex-icons">
        
        {% if user.is_authenticated %}

          <div class="dropdown">

            <button class="btn btn-primary btn-sm dropdown-toggle nav-dropdown-button" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">{{ user }}</button>

            <div class="dropdown-menu dropdown-primary">
            {% if user.is_staff %}
              <a class="dropdown-item" href="{% url 'games:order-dashboard' %}">Dashboard</a>
              <a class="dropdown-item" href="{% url 'games:orders-per-day' %}">Orders per Day</a>
              <a class="dropdown-item" href="{% url 'games:most-bought-products' %}">Most Bought Products</a>
            {% else %}
              <a class="dropdown-item" href="{% url 'games:order-dashboard' %}">My Orders</a>
            {% endif %}
              <a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a>
            </div>

          </div>

        {% else %}

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="{% url "account_login" %}" class="nav-link waves-effect">Log&nbsp;in</a>
          </li>

          <li class="nav-item">
            <a href="{% url "account_signup" %}" class="nav-link waves-effect">Sign&nbsp;up</a>
          </li>
        {% endif %}

          <li class="nav-item">
            <a href="{% url 'games:order-summary' %}" class="nav-link waves-effect">
              {% with request|cart_item_count as cart_count %}
                  
                {% if cart_count %}
                  <span class="badge red z-depth-1 mr-1"> {{ cart_count }} </span>
                {% endif %}
                <i class="fas fa-shopping-cart"></i>
                <span class="clearfix d-none d-sm-inline-block"> Cart </span>

              {% endwith %}
            </a>
          </li>
        </ul>


      </ul>

    </div>
  </div>
</nav>

{% endwith %}
