{% extends "_base.html" %}
{% load cart_template_tags %}

{% block head_title %}Order Summary{% endblock %}

{% block content %}

<main>
  <div class="container">
    <section class="mt-4 mb-5">
      <div class="row wow fadeIn">
        <div class="col-12">
          <div class="table-responsive text-nowrap">
            <h1>Order Summary</h1>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item Title</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total Item Price</th>
                </tr>
              </thead>

              <tbody>
              {% with cart_id|related_with_lines as cart %}


                {% if cart and not cart.is_empty %}
                  

                  {% for cart_line in cart.lines.all %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ cart_line.product.name }}</td>
                    <td>
                      {% if cart_line.product.discount_price %}
                        <del>$ {{ cart_line.product.price }}</del>
                        $ {{ cart_line.product.discount_price }}
                      {% else %}
                        $ {{ cart_line.product.price }}
                      {% endif %}
                    </td>
                    <td>
                      <a href={% url 'games:remove-single-from-cart' cart_line.product.slug %}><i class="fas fa-minus pr-2"></i></a>
                      {{ cart_line.quantity }}
                      <a href={% url 'games:add-to-cart' cart_line.product.slug %}><i class="fas fa-plus pl-2"></i></a>
                    </td>
                    <td>
                      $ {{ cart_line.get_total_product_price }}
                      {% if cart_line.product.discount_price %}
                        <span class="badge badge-danger ml-2">SALE</span>
                      {% endif %}

                      <a href={% url 'games:remove-from-cart' cart_line.product.slug %}><i class="fas fa-trash float-right"></i></a>
                      
                    </td>
                  </tr>
                  {% endfor %}

                  {% if cart.get_total %}

                    {% if cart.coupon %}
                      <tr class="text-success">
                        <td colspan="2"><h6><b>Coupon:</b></h6></td> 
                        <td colspan="2"><h6><b>{{ cart.coupon.code }}</b></h6></td> 
                        <td><h6><b>-$ {{ cart.coupon.amount }}</b></h6></td>
                      </tr>
                    {% endif %}

                    <tr>
                      <td colspan="4"><h4><b>Total price:</b></h4></td> 
                      <td><h4><b>$ {{ cart.get_total }}</b></h4></td>
                    </tr>

                    <tr>
                      <td colspan="5">
                        <a href="{% url 'games:checkout' %}" class="btn btn-success float-right ml-2">Proceed to payment</a>

                        <a href="{% url 'games:home' %}" class="btn btn-primary float-right">Continue shopping</a>
                      </td>
                    </tr>

                  {% endif %}


                {% else %}

                  <tr>
                    <td colspan="5">
                      <div class='d-flex justify-content-center h4'>
                        <small>Your cart is empty :(</small>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5">
                      <a href="{% url 'games:home' %}" class="btn btn-primary float-right">Continue shopping</a>
                    </td>
                  </tr>

                {% endif %}

              {% endwith %}

              </tbody>

            </table>

        </div>
      </div>
    </section>
  </div>
</main>

{% endblock content %}