{% extends "_base.html" %}

{% block head_title %}{{ product.name }}{% endblock %}

{% block content %}

<main class="mt-5 pt-4">
  <div class="container dark-grey-text">

    <div class="row wow fadeIn">

      <div class="col-md-6 mb-4">

        {% for image in product.images.all %}
          <img src="{{ image.image.url }}" class="img-fluid" alt=""/>
        {% endfor %}

      </div>

      <div class="col-md-6 mb-4">

        <div class="pb-4">

          <p class="lead display-4 font-weight-bold">{{ product.name }}</p>

          <p class="lead font-weight-bold">
            {% if product.discount_price %}
              <span class="mr-1">
                <del>${{ product.price }}</del>
              </span>
              <span>${{ product.discount_price }}</span>
            {% else %}
              <span>${{ product.price }}</span>
            {% endif %}
          </p>

          <p class="lead font-weight-bold">Description</p>
            <p>{{ product.description|linebreaks }}</p>

          <p class="lead font-weight-bold">Tags</p>

          <p>
          {% for tag in product.tags.all %}
            <a href="{% url 'games:home' %}?tag={{ tag.slug }}">
            <span class="badge badge-pill danger-color mr-2">
              {{ tag }}</a>
            </span>

          {% endfor %}
          </p>
          {% if product.in_stock %}

            <p class="lead font-weight-bold">In stock</p>
            
          {% else %}

            <p class="lead font-weight-bold">Not in stock</p>

          {% endif %}

            <a href="{{ product.get_add_to_cart_url }}" 
              class="btn btn-primary btn-big my-0 p">Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ product.get_remove_from_cart_url }}" 
              class="btn btn-danger btn-big my-0 p">Remove from cart
            </a>

        </div>

      </div>

    </div>

    <hr>

    <div class="row d-flex justify-content-center wow fadeIn">

      <div class="col-md-6 text-center mb-4">

        <h4 class="my-4 h4">People who bought this also bought</h4>

      </div>

    </div>

    <div class="row wow fadeIn">

      {% for product in suggested_products %}

      <div class="col-lg-4 col-md-12 mb-4">

        <a href="{{ product.get_absolute_url }}">
          <img src="{{ product.images.first.thumbnail.url }}" class="img-fluid" alt="">
          <div class="mask rgba-white-slight"></div>
        </a>

      </div>

      {% endfor %}

    </div>

  </div>
</main>

{% endblock content %}