[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.*"
django-allauth = "*"
psycopg2 = "*"
django-crispy-forms = "*"
pillow = "*"
django-countries = "*"
redis = "*"
django-redis = "*"
celery = "*"
django-webpack-loader = "*"
djangorestframework = "*"
django-filter = "*"
django-braces = "*"
whitenoise = "*"
gunicorn = "*"
python-dotenv = "*"
django-cors-headers = "*"
django-storages = "*"
boto3 = "*"
cryptography = ">=3.2"

[dev-packages]
django-extensions = "*"
factory-boy = "*"
django-debug-toolbar = "*"
flower = "*"
coverage = "*"

[requires]
python_version = "3.7"
