[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.*"
django-allauth = "*"
psycopg2 = "*"
django-crispy-forms = "*"
pillow = "*"
django-countries = "*"
redis = "*"
django-redis = "*"
celery = "*"
django-webpack-loader = "*"
djangorestframework = "*"
django-filter = "*"
django-braces = "*"
python-dotenv = "*"
django-cors-headers = "*"

[dev-packages]
django-extensions = "*"
factory-boy = "*"
django-debug-toolbar = "*"
flower = "*"
coverage = "*"

[requires]
python_version = "3.7"
