{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<main>
  <div class="container">
    <section class="mt-4 mb-5">
      <div class="row wow fadeIn">
        <div class="col-6 offset-3">
          <h1>{% trans "Sign In" %}</h1>
          <p>{% blocktrans %}You could sign in with one of your existing third party accounts:
          {% endblocktrans %}</p>
          <p>
            <i class="fab fa-google pr-2"> </i><a href="{% provider_login_url 'google' %}">Login with Google</a>
          </p>

          <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>

      </div>
    </section>
  </div>
</main>
{% endblock %}
